---
import {
  ArticleLayout,
  ArticleFecha,
  ArticleLink,
  ArticleParrafo,
  ArticleSubtitle,
  ArticleTitle,
} from "../../components/articleComponents";


---

<ArticleLayout
  title="Explorando las características de las estatuas en nuestras ciudades: mapa y tendencias"
  img="https://ciudatoslab.org/img/tarjetas-articulos/mapa-estatuas.jpg"
  description="Bolivia es un país muy rico y diverso en culturas. Además de haber sido el territorio de culturas prehispánicas que dejaron importantes vestigios arqueológicos, es el lugar donde viven varios pueblos indígenas y también tiene una importante historia nacional, y regional que debe recordarse. Uno de los espacios destinados para contar y preservar la memoria y cultura nacional son los museos, ¿pero qué museos hay en Bolivia? ¿Cuántos son y dónde están?"
>
  <ArticleTitle> Explorando las características de las estatuas en nuestras ciudades: mapa y tendencias</ArticleTitle>

  <ArticleFecha>Fecha: 15/05/2025</ArticleFecha>
  <img class="w-auto" src="/img/tarjetas-articulos/1-portada-est.jpg" />

  <ArticleParrafo>
    En los últimos años, las estatuas de las ciudades bolivianas se convirtieron protagonistas de varios titulares y noticias.
  </ArticleParrafo>

  <ArticleParrafo>
    En La Paz, el año 2020, la agrupación Mujeres Creando realizó una intervención artística en la plaza Isabel La Católica y, vistiendo al monumento con una pollera, sombrero bombín y aguayo, rebautizaron la estatua como la <a href="https://www.nuso.org/articulo/315-isabel-la-catolica-como-chola-globalizada/" style="text-decoration: underline; color: #1E237C;">“Chola Globalizada”</a>. De manera similar, <a href="https://unitel.bo/noticias/seguridad/denuncian-persecucion-judicial-tras-una-protesta-la-alcaldia-de-cochabamba-indica-que-el-asunto-esta-en-manos-de-un-juez-KO14837159" style="text-decoration: underline; color: #1E237C">en mayo de 2024</a>, en una protesta en solidaridad con Palestina, una agrupación de mujeres cochabambina realizó una intervención al monumento de las Heroínas de la Coronilla, que fue rápidamente criminalizada por la alcaldía, que inició un proceso penal contra las mujeres, aunque la intervención no contaba con grafitis ni pintura. Asimismo, en Sucre, el día Internacional de la Mujer de 2025, <a href="https://correodelsur.com/local/20250309/llamativos-actos-reivindicativos-en-sucre.html" style="text-decoration: underline; color: #1E237C">aparecieron estatuas de héroes de la independencia con mensajes, reclamando por la responsabilidad paterna.</a>
  </ArticleParrafo>

    <ArticleParrafo>
    Pero, las estatuas no solamente han sido objeto de intervenciones feministas y llaman la atención por otros motivos. El 2017 en Cochabamba, <a href="https://www.lostiempos.com/actualidad/local/20170720/varias-estatuas-aparecen-barbijos-ciudad" style="text-decoration: underline; color: #1E237C;">varios monumentos de personajes históricos aparecieron con barbijos y pancartas, protestando por la pésima calidad del aire de la ciudad</a>. Otras estatuas, en cambio, llamaron la atención por las figuras poco convencionales que retrataban, como los <a href="https://elaltodigital.com/el-nuevo-hogar-que-bumblebee-de-los-transformers-tiene-en-el-alto/" style="text-decoration: underline; color: #1E237C">transformers que aparecieron en la ciudad de El Alto</a> o la <a href="https://www.opinion.com.bo/articulo/cochabamba/inauguran-en-sacaba/20230617000920910812.html" style="text-decoration: underline; color: #1E237C">cholita chicharronera</a> en el municipio de Sacaba.
  </ArticleParrafo>

<ArticleParrafo>
Cada día, los bolivianos recorremos las calles de nuestras ciudades  apresurados y muy pocas veces nos detenemos a reflexionar sobre cómo se ha construido el lugar en el que habitamos, incluyendo las estatuas y monumentos que aparecen en el espacio público. 
</ArticleParrafo>

  <ArticleParrafo>
Las estatuas y monumentos son más que adornos: Son construcciones materiales que reflejan una visión e identidades, y moldean la memoria del espacio público. Son obras con significados importantes para la gente y, por ello, muchas veces están protegidas por normas de preservación patrimonial. Importan porque son una forma de hacer visible (u ocultar) sentidos y creencias en el espacio urbano.
</ArticleParrafo>

<ArticleParrafo>
¿Qué nos dicen las estatuas sobre nuestras ciudades? En este artículo te contamos los resultados de un mapeo realizado por el equipo de Ciudatos Lab.
</ArticleParrafo>

<ArticleSubtitle> ¿Cómo se mapeó?</ArticleSubtitle>

<ArticleParrafo>
Por lo general, la cuestión de las estatuas y sus sentidos se aborda desde un enfoque micro, investigando casos e historias en concreto. Pero, sin desconocer la importancia de estos abordajes, nuestro interés se encontraba en aproximarnos a las características generales de las estatuas y monumentos, para observar sus tendencias estadísticas. Por ello, apostamos por elaborar una base de datos georreferenciada, también en vista de que no existen datos abiertos sobre el tema.
</ArticleParrafo>

<ArticleParrafo>
Así, el equipo de Ciudatos Lab realizó varias excursiones en el espacio urbano en busca de datos de estatuas y monumentos. Recorrimos las vías principales y las plazas públicas de las ciudades donde vivimos, considerando que los monumentos suelen emplazarse en lugares concurridos y centrales para generar sentido en la población. De esa manera, se recolectaron más de 200 estatuas en las ciudades de Cochabamba, La Paz, El Alto, Sucre y Trinidad. Y, aunque el número de las estatuas es considerable, debe recordarse que se trata de una primera aproximación al tema. Así, la base de datos podría ampliarse en el futuro con más apoyo y colaboración.
</ArticleParrafo>

<ArticleSubtitle>Distribución de las estatuas en el espacio, temas y estado de conservación</ArticleSubtitle>
<ArticleParrafo>
En total, logramos mapear 224 estatuas, las cuales se pueden conocer en este mapa 👇. Puedes usar el selector para ir a la ciudad que te interesa. Haz click los globos para ver la fotografía de la estatua, su año de instalación, estado de conservación y más información sobre el personaje que se está representando.
</ArticleParrafo>

<iframe src="https://ciudatoslab.github.io/mapa-estatuas/" style="height: 70vh" name="myiFrame"></iframe>

<ArticleParrafo>
Los dos temas más frecuentes son los políticos y militares, por un lado, y temas religiosos, por otro. En las ciudades bolivianas, la mayoría de las estatuas se usan para recordar a los héroes de conflictos bélicos, que de alguna manera forjaron la conciencia nacional. Sobresalen las figuras de Simón Bolívar y Antonio José de Sucre, como héroes de la Independencia; también hay monumentos a Eduardo Abaroa, recordando la Guerra del Pacífico; y estatuas de diversos capitanes y soldados que participaron en la Guerra del Chaco o la Guerra del Acre.
</ArticleParrafo>

<div class="flourish-embed flourish-chart" data-src="visualisation/23168969"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23168969/thumbnail" width="100%" alt="chart visualization" /></noscript></div>

<div class="flourish-embed flourish-chart" data-src="visualisation/23168859"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23168859/thumbnail" width="100%" alt="chart visualization" /></noscript></div>

<ArticleParrafo>
En cuanto a los temas religiosos, suelen aparecer figuras ligadas a la tradición y religión católica en Bolivia, como Jesucristo o la Virgen María; y también hay representaciones de miembros destacados de la iglesia que realizaron trabajo humanitario en el país. En menor grado, aparecen estatuas de personajes destacados en distintas áreas como la ciencia, el arte, la educación o los deportes, y también hay estatuas que se usan para destacar la riqueza natural o cultural de las diferentes ciudades.
</ArticleParrafo>

<img class="w-auto" src="/img/tarjetas-articulos/2-soldados.jpg" />

<p style="font-style: italic; text-align: center;">Esculturas en honor a soldados de la Guerra del Chaco en Cochabamba y en Trinidad.</p>

<ArticleParrafo>
    En todo caso, que los héroes de guerra y figuras religiosas sean las estatuas más comunes en el espacio urbano, puede estar indicando que quienes las emplazaron buscan crear una conciencia colectiva basada en trauma por el conflicto bélico, el culto a los guerreros y, al mismo tiempo, la búsqueda de santidad. Valores que pueden ser contradictorios.
</ArticleParrafo>

<ArticleSubtitle>Estado de conservación</ArticleSubtitle>

<ArticleParrafo>La mayoría de las estatuas mapeadas se encontraban en un buen estado de conservación (59.4%), pero hubo una cantidad importante que estaban levemente a severamente deterioradas (40.6%). </ArticleParrafo>

<div class="flourish-embed flourish-chart" data-src="visualisation/23169249"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23169249/thumbnail" width="100%" alt="chart visualization" /></noscript></div>

<ArticleParrafo>Los principales daños encontrados fueron las resquebrajaduras, la suciedad por basura o excremento de animales y los grafitis. Las rupturas de gravedad o robos de las estatuas fueron poco comunes, aunque sí pudimos encontrar un par de casos, como la estatua de bronce de Apolinar Jaen, que fue robada en la ciudad de La Paz.</ArticleParrafo>

<div class="flourish-embed flourish-chart" data-src="visualisation/23169477"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23169477/thumbnail" width="100%" alt="chart visualization" /></noscript></div>

<ArticleParrafo>Si bien los monumentos son bienes patrimoniales y existen leyes municipales que los defienden, nuestro mapeo revela un alto porcentaje daños. Esto puede ser el reflejo de la falta de recursos y planificación para mantener las instalaciones, a la vez que puede estar mostrando la desvinculación de los símbolos representados de la sociedad. El deterioro físico y la falta de cuidado puede ser una señal del deterioro de los símbolos para la sociedad y, aquí, la planificación participativa en el ornamento público puede ser una salida.</ArticleParrafo>

<ArticleSubtitle>El género de las estatuas</ArticleSubtitle>
<ArticleParrafo>Si analizamos el género de las estatuas, encontramos una fuerte disparidad. La representación masculina es abrumadoramente mayoritaria (60,8%), en contraposición a las estatuas de mujeres (13.2%). Esto nos sugiere que hay una tendencia histórica y cultural de destacar a las figuras masculinas en la esfera y espacio urbano, dejando a las mujeres en una posición marginal.</ArticleParrafo>

<div class="flourish-embed flourish-chart" data-src="visualisation/23169646"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23169646/thumbnail" width="100%" alt="chart visualization" /></noscript></div>

<ArticleParrafo>Analizando los temas por género, encontramos que las estatuas masculinas abarcan temas más diversos que las femeninas. No solamente se destacan a los hombres con logros en el ámbito político y militar o religioso: también aparecen artistas, dirigentes de organizaciones sociales, maestros, deportistas, ingenieros y empresarios.</ArticleParrafo>

<div class="flourish-embed flourish-chart" data-src="visualisation/23170097"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23170097/thumbnail" width="100%" alt="chart visualization" /></noscript></div>
<ArticleParrafo>En cambio, las estatuas de las mujeres, además de las heroínas de la independencia, las santas o las musas de los mitos y leyendas, aparecen  temas ligados a roles tradicionales, como la representación cuerpo o la “belleza femenina” (donde suelen aparecer desnudos) y la maternidad.</ArticleParrafo>
<div class="flourish-embed flourish-chart" data-src="visualisation/23170052"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23170052/thumbnail" width="100%" alt="chart visualization" /></noscript></div>

<img class="w-auto" src="/img/tarjetas-articulos/3-mujeres.jpg"/>
<p style="font-style: italic; text-align: center;">Representaciones de mujeres en Trinidad (izquierda) y Cochabamba (Derecha)</p>

<ArticleParrafo>Estos datos nos invitan a una reflexión crítica sobre las narrativas de género que están moldeando la visión del espacio público.</ArticleParrafo>

<ArticleSubtitle>Resultados por ciudad</ArticleSubtitle>
<ArticleParrafo>A continuación, presentamos un análisis específico para las ciudades mapeadas.</ArticleParrafo>
<ArticleSubtitle>Trinidad</ArticleSubtitle>
<ArticleParrafo>La ciudad de Trinidad, Beni, cuenta con una variedad de monumentos, bustos y murales que cuentan como marcadores de historia entorno a lo social, político, cultural, religioso e incluso con temática de mitos y leyendas locales y propias del mundo amazónico.</ArticleParrafo>
<div class="flourish-embed flourish-chart" data-src="visualisation/23170532"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23170532/thumbnail" width="100%" alt="chart visualization" /></noscript></div>
<ArticleParrafo>En el ámbito político/militar, encontramos figuras que fueron emblemáticas para el departamento del Beni. Por ejemplo, aparecen monumentos al Mariscal José Ballivián, pues durante su presidencia fundó dicho departamento. También aparecen presidentes como Germán Busch, nacido en Beni.</ArticleParrafo>
<div class="flourish-embed flourish-hierarchy" data-src="visualisation/23170548"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23170548/thumbnail" width="100%" alt="hierarchy visualization" /></noscript></div>
<ArticleParrafo>En los monumentos de la ciudad se puede ver una fuerte influencia de la fe católica, y particularmente de las misiones jesuíticas. En el espacio, aparece la estatua del fundador de la ciudad de Trinidad como parte de las Misiones jesuíticas de Moxos, el padre Cipriano Barace.</ArticleParrafo>
<img class="w-auto" src="/img/tarjetas-articulos/4-trinidad.jpg"/>
<p style="font-style: italic; text-align: center;">Monumento a la VIII Marcha Indígena de Tierras Bajas (izquierda) y Monumento al Mariscal José Ballivián (derecha).</p>
<ArticleParrafo>Asimismo, hay monumentos ligados a las organizaciones indígenas amazónicas. Destacamos el monumento a la VIII Marcha Indígena, en conmemoración a la represión en Chaparina, el año 2011.  En dicho monumento se encuentra mujeres, niños, hombres trinitarios, a la vez, se puede observar la imagen presente de un jaguar.</ArticleParrafo>

<ArticleSubtitle>Sucre</ArticleSubtitle>
<ArticleParrafo>La ciudad de Sucre, se autodenominó  "Ciudad del Bicentenario", en un intento de reafirmar su papel simbólico como cuna de la libertad boliviana. Sin embargo, el análisis a las estatuas y monumentos de Sucre nos muestra un estancamiento en la glorificación del pasado y de los héroes de la independencia. Si observamos los temas más frecuentes de estatuas en Sucre, la gran mayoría refieren a héroes políticos y militares, dejando otras áreas subrepresentadas y sin personajes nuevos que destacar en la identidad local.</ArticleParrafo>
<div class="flourish-embed flourish-chart" data-src="visualisation/23170438"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23170438/thumbnail" width="100%" alt="chart visualization" /></noscript></div>
<ArticleParrafo>En el siguiente gráfico se pueden observar algunas figuras destacadas en Sucre. Dejando de lado a los próceres de la independencia, se pueden observar algunas figuras locales interesantes. Por ejemplo, tenemos representantes destacados del deporte chuquisaqueño, como Oscar Crespo, el famoso corredor de automóviles, y Julio Sandóval, destacado atleta y e impulsor del deporte. También aparecen personajes ligados al arte y la literatura, como María Josefa Mujica y Huáscar Aparicio.</ArticleParrafo>
<div class="flourish-embed flourish-hierarchy" data-src="visualisation/23170403"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23170403/thumbnail" width="100%" alt="hierarchy visualization" /></noscript></div>
<img class="w-auto" src="/img/tarjetas-articulos/5-sucre.jpg"/>
<p style="font-style: italic; text-align: center;">Estatuas de María Joséfa Mujica, Simón Bolívar y monumento en conmemoración a la Masacre de Ayo-Ayo.</p>

<ArticleSubtitle>Cochabamba</ArticleSubtitle>
<ArticleParrafo>En Cochabamba, los temas más importantes de las estatuas son los héroes políticos y militares, las figuras religiosas y algunos científicos e ingenieros locales.</ArticleParrafo>
<div class="flourish-embed flourish-chart" data-src="visualisation/23170604"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23170604/thumbnail" width="100%" alt="chart visualization" /></noscript></div>
<ArticleParrafo>Entre los héroes políticos y militares, llama la atención la aparición de caudillos o héroes locales, que en muchos casos se convirtieron en símbolo de resistencia o independencia frente a los españoles desde Cochabamba. Se tienen monumentos a Manuela Gandarillas, Gerónimo de Osorio, Alejo Calatatud, entre otros. En cuanto a la iglesia, además de los personajes centrales de la religión católica, aparecen esculturas conmemorando a miembros de la iglesia, que prestaron servicio y ayuda humanitaria en la ciudad. Además, se cuenta con una larga serie de científicos e investigadores cochabambinos de diversas áreas, que aportaron al conocimiento y desarrollo regional, como Martín Cárdenas, destacado biólogo, o Demetrio Canelas, importante periodista.</ArticleParrafo>
<div class="flourish-embed flourish-hierarchy" data-src="visualisation/23170642"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23170642/thumbnail" width="100%" alt="hierarchy visualization" /></noscript></div>
<img class="w-auto" src="/img/tarjetas-articulos/6-trinidad.jpg"/>
<p style="font-style: italic; text-align: center;">Monumento a las Heroínas de la Coronilla y Alejo Calatayud.</p>

<ArticleSubtitle>La Paz y El Alto</ArticleSubtitle>
<ArticleParrafo>En La Paz y El Alto, los temas que aparecen con más fuerza son los héroes militares y los pueblos indígenas, en particular la representación de los héroes y la cultura aymara.</ArticleParrafo>
<div class="flourish-embed flourish-chart" data-src="visualisation/23170293"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23170293/thumbnail" width="100%" alt="chart visualization" /></noscript></div>
<ArticleParrafo>Al igual que en Cochabamba, además de los héroes nacionales como Eduardo Abaroa, hay estatuas dedicadas a héroes locales como Vicenta Juaristi Equino, una mujer paceña referente en la independencia de Bolivia la Ciudad de La Paz. Asimismo, se tienen estatuas de héroes aymaras como Túpac Amaru y Túpac Katari.</ArticleParrafo>
<div class="flourish-embed flourish-hierarchy" data-src="visualisation/23170192"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23170192/thumbnail" width="100%" alt="hierarchy visualization" /></noscript></div>
<img class="w-auto" src="/img/tarjetas-articulos/7-lp.jpg"/>
<p style="font-style: italic; text-align: center;">Vicenta Juaristi Eguino (La Paz) y Túpac Amaru (El Alto).</p>

<ArticleSubtitle>Créditos</ArticleSubtitle>
<ArticleParrafo><b>Recolección de datos e investigación:</b> Adhemar Conde, Adrián Delgado, Arleth Escóbar, Arturo López, Carlos Terán, Denny Chura, Jhoana Huanca, Marcia Heredia, Mario Castro, Serena Bellot, Silvana Cachi y Valeria Peredo.</ArticleParrafo>
<ArticleParrafo><b>Mapa y visualizaciones interactivas:</b> Carlos Terán, Valeria Peredo y Alex Ojeda</ArticleParrafo>
<ArticleParrafo><b>Coordinación del proyecto:</b>Valeria Peredo</ArticleParrafo>
<a class="me-4 font-rubik text-white  bg-azul-ciudatos hover:bg-white focus:ring-4 focus:ring-azul-ciudatos font-medium rounded-lg text-lg px-8 py-4 dark:bg-azul-ciudatos dark:hover:bg-blue-900 focus:outline-none dark:focus:ring-azul-ciudatos" style="text-align: center;" href="https://ciudatoslab.org/datos/estatuas-en-bolivia/">Descarga la base de datos</a>