---
import {
  ArticleLayout,
  ArticleFecha,
  ArticleLink,
  ArticleParrafo,
  ArticleSubtitle,
  ArticleTitle,
} from "../../components/articleComponents";

---

<ArticleLayout
  title="¿Cómo se territorializó la campaña electoral de 2025 en el espacio urbano?"
  img="https://ciudatoslab.org/img/tarjetas-articulos/campana/thumbnail.jpg"
  description="De mayo a agosto de 2025, mapeamos los actos de campaña en las ciudades Bolivianas. ¿Qué patrones y tendencias emergieron?"
>
  <ArticleTitle>¿Cómo se territorializó la campaña electoral de 2025 en el espacio urbano?</ArticleTitle>

  <ArticleFecha>Fecha: 14/08/2025</ArticleFecha>
    <img class="w-auto" src="/img/tarjetas-articulos/campana/thumbnail.jpg" />

    <p style="font-style: italic; text-align: right;">Por: Ciudatos Lab y TerritorIA</p>

  <ArticleParrafo> En  estas elecciones la campaña se realizó con mucha fuerza en el espacio digital, en plataformas como Facebook y TikTok. Al día de hoy, se sabe que los candidatos de diferentes fuerzas políticas invirtieron grandes cantidades de recursos en publicidad, marketing e incluso campañas desinformativas para dañar a sus contrincantes. De hecho, la preocupación por los peligros de la campaña en el espacio digital ha llevado a varias organizaciones a <a href="https://www.undp.org/es/bolivia/coalicion-nacional-contra-la-desinformacion-electoral-cncde" style="text-decoration: underline; color: #1E237C"> conformar alianzas para combatir la desinformación </a> y, por ejemplo, la misión de observación electoral europea cuenta con un equipo especializado en monitoreo de redes sociales.
    </ArticleParrafo>

  <ArticleParrafo>
    Sin negar la importancia que tienen las redes, el excesivo interés en lo digital hace que nos olvidemos del componente físico de la vida política. Y es que, si bien la publicidad en redes puede brindar un gran alcance al mensaje de los candidatos, un like no es garantía de un voto. En Bolivia, el contacto físico y el trabajo en las calles siguen siendo importantes para que una campaña sea exitosa.
  </ArticleParrafo>
  
  <ArticleParrafo>
    En este sentido, los equipos de Ciudatos Lab y TerritorIA llevamos adelante un mapeo de actos de campaña en diferentes ciudades de Bolivia. Conformamos una base de datos georreferenciada, que nos permite ver la ubicación de los actos de campaña, el alcance espacial de los partidos e incluso los daños que causaron al espacio e infraestructura pública.
  </ArticleParrafo>

<ArticleParrafo>
  Más allá del espectáculo mediático o la disputa por el voto en redes sociales: ¿Cómo se territorializó la campaña electoral en el espacio urbano? ¿Cuál es el alcance territorial de la campaña de los candidatos en las ciudades?
</ArticleParrafo>

<ArticleSubtitle>La intensificación de la campaña en el tiempo</ArticleSubtitle>

<ArticleParrafo>
En el siguiente gráfico, podemos ver la cantidad de actos de campaña en el tiempo. Es claro que, a medida que se acerca el 17 de agosto, la campaña se fue intensificando. Julio y agosto fueron los meses más movidos y activos, hasta llegar el 13 de agosto, el día en que iniciamos el silencio electoral.
</ArticleParrafo>

<div class="flourish-embed flourish-chart" data-src="visualisation/24668798"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/24668798/thumbnail" width="100%" alt="chart visualization" /></noscript></div>

<ArticleParrafo>
Este comportamiento se encontró en la campaña de todos los partidos. En este gráfico se puede ver la cantidad de actos de campaña mapeados por partido a lo largo del tiempo.
</ArticleParrafo>

<div class="flourish-embed flourish-chart" data-src="visualisation/24669199"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/24669199/thumbnail" width="100%" alt="chart visualization" /></noscript></div>

<ArticleParrafo>
  En nuestro gráfico, SUMATE, el partido de Manfred Reyes, ocupa el primer puesto en número de actos de campaña. Esto se debe, en parte, a que nuestro equipo más grande de mapeadores se encontraba en Cochabamba, pero también, como veremos más adelante, porque SUMATE ha desplegado una intensa campaña territorial, sobretodo en el municipio de Cochabamaba, desplazando del espacio público a la competencia.
</ArticleParrafo>

<ArticleParrafo>
  Un elemento que llama la atención, es la aparición e intensificación de actos de campaña por el voto nulo a medida que se acercaban las elecciones. Luego de las conocidas instrucciones de Evo Morales, comenzamos a notar diferentes carteles y murales por el voto nulo en las ciudades. A menudo, se ponían sobre la propaganda de otros candidatos.
</ArticleParrafo>

<img class="w-auto" src="/img/tarjetas-articulos/campana/1.jpg" />
<p style="font-style: italic; text-align: center;">Afiches llamando a votar nulo en las calles de La Paz, El Alto y Cochabamba.</p>

<ArticleParrafo>En este gráfico puedes observar cuáles fueron los actos de campaña más utilizados por cada partido. Un hallazgo preocupante de nuestro trabajo es que todos ellos incurrieron en el pintado de obras públicas con colores partidarios, sin excepción.
</ArticleParrafo>

<div class="flourish-embed flourish-chart" data-src="visualisation/24667578"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/24667578/thumbnail" width="100%" alt="chart visualization" /></noscript></div>

<ArticleSubtitle>La campaña en Cochabamba: Entre el predominio de Manfred y la apuesta de Andrónico por los barrios populares</ArticleSubtitle>
<ArticleParrafo>En este mapa puedes ver cómo a medida que pasa el tiempo, la campaña en Cochabamba va tomando más terreno.</ArticleParrafo>
<div class="flourish-embed flourish-map" data-src="visualisation/24670289"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/24670289/thumbnail" width="100%" alt="map visualization" /></noscript></div>

<ArticleParrafo>
  En el siguiente mapa podemos ver la presencia territorial comparada de las cuatro fuerzas políticas con mayor intención de voto en Cochabamba.
</ArticleParrafo>

<img class="w-auto" src="/img/tarjetas-articulos/campana/1-cb.jpg"/>

<ArticleParrafo>Es claro que el partido de Manfred Reyes tiene una enorme presencia territorial, muy por encima de otros candidatos. Particularmente, en el municipio del que es alcalde, notamos que SUMATE pudo monopolizar la campaña en ciertas plazas y rotondas, como la plazuela Tarija o la rotonda de Cala Cala en la zona norte. En ambos casos, estamos hablando de puntos muy transitados y estratégicos para la ciudad.
</ArticleParrafo>

<ArticleParrafo>Creemos que el poder institucional es la clave para entender este monopolio del espacio. El año pasado, el Gobierno Municipal puso en vigencia la <a href="https://drive.google.com/drive/folders/1A1m5b_N3k-UeWT_t814MzENpKuW4tgiM" style="text-decoration: underline; color: #1E237C">Ley 1432/2024</a>, estableciendo nuevas limitaciones y trámites para la propaganda en Cochabamba, con la cual SUMATE pudo haber estado limitando la campaña de sus contrincantes dentro del municipio. Asimismo, en el mapeo encontramos que diversas obras públicas fueron pintadas con los colores de SUMATE.</ArticleParrafo>

<img class="w-auto" src="/img/tarjetas-articulos/campana/2.jpg"/>
<p style="font-style: italic; text-align: center;">Hospital del Sur y entrada al parque Mariscal Santa Cruz pintados de los colores de SUMATE.</p>

<ArticleParrafo>
  En cuanto a Alianza Popular, el mapa nos revela que su campaña apostó por convencer a los votantes de barrios de la zona sur y municipios aledaños a Cochabamba. Andrónico, de hecho, hizo actos de presencia en Tiquipaya y Quillacollo, donde llevó adelante una proclamación y su cierre de campaña en Cochabamba, respectivamente. Sin embargo notamos una importante ausencia de Alianza Popular en las zonas centrales del municipio de Cochabamba, es decir, los distritos 10, 11 y 12 de la zona norte, donde viven las clases medias y altas.
</ArticleParrafo>

<ArticleParrafo>
  En contraste, la campaña de Libre tuvo una fuerte presencia en los lugares donde Andrónico no llegó. En el mapa, notamos que gran parte de los actos de campaña de Tuto Quiroga se limitaron a la zona norte, con poco alcance en los barrios populares de la zona sur. Mediante el monitoreo y los mapeos diarios, sin embargo, notamos que la apuesta de los militantes de Tuto Quiroga para convencer al mundo popular fue recorrer mercados.
</ArticleParrafo>

<img class="w-auto" src="/img/tarjetas-articulos/campana/3.jpg"/>
<p style="font-style: italic; text-align: center;">Militantes de Alianza Popular y Libre en mercados, obtenidas mediante el monitoreo de redes sociales.</p>

<ArticleParrafo>
  En cuanto a la Alianza Unidad, el mapeo reveló que su enclave territorial fue la zona próxima al centro histórico, que les permitió hacer campaña tanto en la zona norte, como en la zona sur. El cierre de campaña de Samuel Doria en Cochabamba, de hecho, <a href="https://www.facebook.com/share/r/16n9mqL4N8/" style="text-decoration: underline; color: #1E237C">se realizó en el centro de la ciudad.</a>
</ArticleParrafo>

<ArticleParrafo>
  Finalmente, en el siguiente mapa podemos ver los actos de campaña del MAS, PDC, la Fuerza del Pueblo y el Voto Nulo.
</ArticleParrafo>

<img class="w-auto" src="/img/tarjetas-articulos/campana/2-cb.jpg"/>

<ArticleParrafo>
  Llama la atención que la campaña del MAS, que en el pasado fue una fuerza política con gran presencia territorial y apoyo en Cochabamba, actualmente esté reducida a algunos puntos de la zona sur de la ciudad y municipios aledaños, como Colcapirhua y Quillacollo.
</ArticleParrafo>

<ArticleSubtitle>La Paz y El Alto: la batalla por las zonas centrales</ArticleSubtitle>
<ArticleParrafo>
Aquí tenemos un timelapse que muestra la intensificación de la campaña en La Paz y El Alto a medida que se acerca el 17 de agosto.
</ArticleParrafo>

<div class="flourish-embed flourish-map" data-src="visualisation/24682271"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/24682271/thumbnail" width="100%" alt="map visualization" /></noscript></div>

<ArticleParrafo>
  En La Paz y el Alto, a diferencia de Cochabamba donde SUMATE pudo monopolizar gran parte del espacio, la campaña fue más dispersa y los candidatos compitieron (evidentemente en condiciones desiguales) por ocupar las zonas centrales. Como se puede observar en los siguientes mapas, los puntos de mayor interés para la campaña fueron son zonas pivotales para el flujo del transporte y la gente en la metrópolis: la Ceja de El Alto, la Autopista, el Monoblock y Obrajes.
</ArticleParrafo>

<img class="w-auto" src="/img/tarjetas-articulos/campana/1-lp.jpg"/>
<img class="w-auto" src="/img/tarjetas-articulos/campana/2-lp.jpg"/>

<ArticleParrafo>
  Aquí, notamos que la competencia por el espacio fue mucho más fuerte que en otras ciudades. Por ejemplo, en la siguiente foto se puede observar los cambios que sufrió una misma pared de El Alto en el lapso de una semana. El 21 de julio apareció pintado un mural haciendo campaña para Samuel, pasaron un par de días, y el Partido Demócrata Cristiano pintó encima otro mural, a lo cual UNIDAD respondió con un colocado masivo de afiches. Luego, SUMATE los quitó y pintó un mural propio.
</ArticleParrafo>

<img class="w-auto" src="/img/tarjetas-articulos/campana/4.jpg"/>

<ArticleParrafo>
  En cuanto al alcance territorial, la campaña llegó a La Paz, El Alto y las carreteras principales hacia comunidades cercanas, pero con focos bien marcados. Súmate copó las zonas céntricas y de mayores ingresos con gigantografías. Alianza Unidad y Libre se movieron sobre todo en barrios de clase media.
</ArticleParrafo>

<ArticleParrafo>
  En cuanto a los candidatos, el mapa nos muestra que aquí, Samuel Doria tiene un gran alcance para ocupar las calles, ya sea con afiches o gigantografías, murales, o con actos de presencia. Por su parte, podemos ver que la campaña Andrónico Rodríguez tuvo como enclave territorial El Alto y más específicamente la zona próxima a la Ceja.
</ArticleParrafo>

<img class="w-auto" src="/img/tarjetas-articulos/campana/5.jpg"/>

<ArticleParrafo>
  Un elemento que no deja de llamar la atención es la cobertura del MAS-IPSP y Eduardo del Castillo. Como vimos, en Cochabamba, el MAS apenas tiene presencia territorial; pero en La Paz sí la tiene. Esto puede estar indicando que la campaña de Eduardo del Castillo tiene una alta dependencia de los funcionarios públicos y el poder central.
</ArticleParrafo>

<ArticleSubtitle>
  Tarija: la ausencia de la izquierda en el territorio
</ArticleSubtitle>

<ArticleParrafo>
  Aquí puedes observar cómo los actos de campaña incrementan en el espacio a medida que se acercan las elecciones.
</ArticleParrafo>

<div class="flourish-embed flourish-map" data-src="visualisation/24682309"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/24682309/thumbnail" width="100%" alt="map visualization" /></noscript></div>

<ArticleParrafo>
  En Tarija, los partidos políticos concentraron sus esfuerzos comunicacionales en los principales ejes troncales y avenidas de alto tránsito vehicular y peatonal, priorizando zonas visibles para la instalación de murales, gigantografías, pasacalles, casas de campaña y distribución de volantes.
</ArticleParrafo>

<img class="w-auto" src="/img/tarjetas-articulos/campana/1-tj.jpg"/>

<ArticleParrafo>En este contexto, la campaña de Alianza UNIDAD, liderada por el candidato Samuel Doria Medina, fue la más destacada tanto por la magnitud de los recursos utilizados como por la amplitud de su presencia territorial: caravanas, actos en plazas y esquinas estratégicas, numerosos grupos de voluntarios y material impreso de gran escala. Su despliegue corresponde con los resultados de las encuestas públicas previas, que lo posicionan como el candidato con mayor intención de voto en la ciudad. En segundo lugar de registros se ubica la agrupación LIBRE de Jorge Quiroga, cuya estrategia apostó más por movilizaciones y concentraciones en diversos barrios, que por soportes estáticos de publicidad urbana, como murales o gigantografías en las avenidas.</ArticleParrafo>

<ArticleParrafo>
  El resto de candidaturas presentaron niveles de exposición considerablemente menores. La agrupación SÚMATE, con Manfred Reyes Villa, inició el período preelectoral con escasa presencia en el espacio urbano, aunque hacia finales de julio se detectaron más gigantografías y carteles, sin evidencia de actos masivos. El caso de Fuerza del Pueblo, con Johnny Fernández, fue prácticamente inexistente en la capital departamental, con una única aparición registrada en San Lorenzo. Particularmente llamativa fue la baja presencia del Movimiento al Socialismo (MAS), que apenas registró una caravana reducida y un mitin en un coliseo local, en claro contraste con sus despliegues históricos. De manera similar, no se encontró ninguna evidencia de campaña territorial de Alianza Popular (con Andrónico Rodríguez) ni del Partido Demócrata Cristiano (PDC), cuyo candidato Rodrigo Paz fue alcalde de la ciudad. Este vacío podría reflejar una estrategia deliberada ante el fuerte desgaste de su imagen y opinión pública sobre su gestión local pasada, o una apuesta exclusiva por medios digitales.
</ArticleParrafo>

<ArticleSubtitle>A modo de conclusión</ArticleSubtitle>

<ArticleParrafo>
  De acuerdo con el análisis territorial de las campañas, se evidencia una fuerte concentración de la actividad proselitista en los centros urbanos, priorizando los principales ejes viales y zonas estratégicas de alto flujo peatonal y vehicular. Aunque las redes sociales y plataformas digitales jugaron un papel importante, el contacto físico y la presencia en las calles siguen siendo cruciales para el éxito de una campaña en Bolivia, como lo demuestra el mapeo realizado. Se observan grandes diferencias en la territorialización de la campaña entre las distintas ciudades y partidos: en Cochabamba, por ejemplo, SUMATE logró monopolizar el espacio público en puntos clave, posiblemente beneficiado por su poder institucional. En contraste, en La Paz y El Alto la competencia por el espacio fue mucho más intensa y dispersa entre los candidatos, que se disputaron zonas centrales de gran importancia para el transporte y el flujo de personas. En Tarija, la campaña de UNIDAD destacó por su gran despliegue territorial y de recursos, mientras que la de otros partidos, como el MAS-IPSP, fue notablemente reducida en comparación con elecciones pasadas.
</ArticleParrafo>

<ArticleParrafo>
  Otro hallazgo interesante es la aparición de campañas a favor del voto nulo en diferentes ciudades, que a menudo se superponían a la propaganda de otros candidatos. Estos patrones indican que la presencia en el territorio sigue siendo un factor diferenciador en la política boliviana, a pesar del auge digital, y que las estrategias de cada partido se adaptan a las dinámicas locales de cada ciudad y a su posición de poder o influencia.
</ArticleParrafo>

<ArticleTitle>Créditos</ArticleTitle>

<ArticleSubtitle>Recolección de datos e investigación</ArticleSubtitle>
<ArticleParrafo><b>Equipo de Ciudatos Lab:</b>Jocabet Alí Morales, Serena Bellot, Silvana Cachi, Denny Chura, Adrián Delgado, Arleth Escóbar, Marcia Heredia, Jhoana Huanca, Arturo López, Carlos Terán y Valeria Peredo.</ArticleParrafo>
<ArticleParrafo><b>Equipo de TerritorIA:</b> Leopoldo Lopez Navajas, Diego Arellano, Cristian Morales y Facundo Mancilla.</ArticleParrafo>

<ArticleSubtitle>Coordinación del proyecto</ArticleSubtitle>
<ArticleParrafo>Valeria Peredo</ArticleParrafo>

<hr>
<ArticleSubtitle> ¿Cómo hemos mapeado?</ArticleSubtitle>

<ArticleParrafo>
  Desde mediados de mayo hasta el pasado 13 de agosto, recorrimos las ciudades que habitamos y registramos los actos de campaña en un formulario.
</ArticleParrafo>

<ArticleParrafo>
El registro consistía en fotografiar el acto de campaña, identificar el partido político, el posible daño al espacio público, la fecha del hallazgo y la ubicación. Así, mapeamos más de 1500 puntos en los municipios de La Paz, El Alto, Cochabamba, Sacaba, Tiquipaya, Colcapirhua, Quillacollo, Vinto, Tarija, Trinidad, Sucre y Santa Cruz. Encontramos un gran abanico de actividades: murales, banderines, carteles, mitines, caminatas, caravanas, marchas, concentraciones, parlantes móviles, casas de campaña, entre otros.
</ArticleParrafo>

<ArticleParrafo>
Los recorridos en las calles se realizaron en diversos horarios, y logramos registrar cada día algo nuevo en la base de datos. Aprovechamos las diferentes residencias de nuestro equipo para cubrir zonas periféricas y centrales. También complementamos el mapeo en las calles, con un monitoreo intermitente a las redes sociales de los candidatos a la presidencia, senadores y diputados.
</ArticleParrafo>

<ArticleParrafo>
  Pese a ello, nuestro trabajo tiene una serie de limitaciones que es necesario nombrar. En primer lugar, debe recordarse que nuestro equipo es pequeño y no se contó con recursos para este ejercicio, lo que limitó nuestras posibilidades.
</ArticleParrafo>

<ArticleParrafo>
  En segundo lugar, los equipos de mapeo en Trinidad, Sucre y Santa Cruz eran muy pequeños, por lo que no contamos con datos suficientes para hacer un análisis de  estas ciudades. Por ello, aquí nos limitaremos a comentar los resultados del mapeo en Cochabamba, La Paz y Tarija.
</ArticleParrafo>

<ArticleParrafo>
  En tercer lugar, durante nuestros recorridos por la ciudad, algunos grupos partidarios fueron hostiles al proyecto. En algunos casos, esto implicó intercambios verbales o persecuciones a nuestro equipo. Por ello, algunos puntos no pudieron registrarse, pues había la necesidad de preservar la seguridad del equipo.
</ArticleParrafo>

<div style="display: flex; flex-direction: column; align-items: center;">
  <a href="https://ciudatoslab.org/"><img src="/img/logos-ciudatos/logo-ciudatos-nuevo.png" style="width: 200px;"></a>
  <a href="https://territoriabol.odoo.com/"><img src="/img/logos-ciudatos/territoria.png" style="width: 200px;"></a>
</div>
