---
import {
  ArticleLayout,
  ArticleFecha,
  ArticleLink,
  ArticleParrafo,
  ArticleSubtitle,
  ArticleTitle,
} from "../../components/articleComponents";


---

<ArticleLayout
  title="Conociendo el campus: Un mapeo del la zona comercial de la UMSS"
  img="https://ciudatoslab.org/img/tarjetas-articulos/umss/thumbnail-umss.png"
  description="¿Alguna vez te has preguntado cómo el espacio alrededor de la UMSS moldea la vida estudiantil? Descubre en nuestro mapeo cómo esta importante zona comercial se adapta a cada necesidad de los universitarios, desde apuntes hasta diversión."
>
  <ArticleTitle>Conociendo el campus: Un mapeo del la zona comercial de la UMSS</ArticleTitle>

  <ArticleFecha>Fecha: 10/12/2025</ArticleFecha>
  <img class="w-auto" src="/img/tarjetas-articulos/umss/thumbnail-umss.png" />
  
  <ArticleParrafo>
   El campus "Las Cuadras" de la Universidad Mayor de San Simón es una de las zonas más transitadas e importantes para la ciudad de Cochabamba. Cada día, miles de universitarios y transeúntes pasan por la zona, que concentra una gran cantidad de negocios y centros comerciales. Además, se caracteriza por grandes problemas de tráfico vehicular, pues dada su importancia para las dinámicas de la ciudad, las asociaciones del transporte público superpusieron sus rutas para poder dejar y recoger a los pasajeros que frecuentan este punto. La zona también tiene una gran importancia política para la propia cultura universitaria, pues en muchas ocasiones se cierran las vías como medida de protesta por todo tipo de conflictos.
  </ArticleParrafo>

  <ArticleParrafo>
    Pero este caos es aparente, pues el espacio que rodea al campus se ha configurado para poder satisfacer las necesidades universitarias. La alta concentración de estudiantes y jóvenes en la zona fue vista como una oportunidad económica para muchos comerciantes que hoy ofrecen sus servicios. Así, los estudiantes de la UMSS constantemente interactúan con el espacio que rodea el campus, y en muchos casos dependen de él para realizar sus actividades cotidianas, como conseguir su material de estudio, elaborar sus trabajos prácticos, comer, pasar el rato con sus amigos, entre muchos otros.
  </ArticleParrafo>

  <ArticleParrafo>
    En este breve artículo, realizamos una aproximación a la forma en la que se ha configurado el espacio urbano circundante a la UMSS, específicamente en el rubro del comercio. Para ello, desde el equipo de Ciudatos Lab, elaboramos un mapeo de negocios y puestos comerciales en los manzanos que rodean los terrenos del campus Las Cuadras, clasificándolos según su categoría y tipo de producto. Es importante recordar que, si bien se logró recolectar una considerable cantidad de datos, no pudimos abarcar toda la complejidad de la zona, pues nuestro equipo es pequeño. Sin embargo, como se verá a continuación, los datos recolectados muestran interesantes patrones sobre las actividades que desarrollan los universitarios en su día a día, así como las estrategias de los comerciantes para poder obtener mayores ganancias y satisfacer a la mayor cantidad de clientes posible.
  </ArticleParrafo>

  <ArticleSubtitle>¿Cómo era el campus antes?</ArticleSubtitle>
  <ArticleParrafo>
    Antes de entrar a los datos, veamos un poco de historia. La Universidad Mayor de San Simón (UMSS) es una universidad Pública ubicada en la ciudad de Cochabamba y fue fundada el 5 de noviembre de 1832 por el Mariscal Andrés de Santa Cruz.
  </ArticleParrafo>

  <ArticleParrafo>
    Durante sus primeros 100 años de existencia, la Universidad no contó con el campus que hoy se conoce y <a href="https://www.umss.edu.bo/wp-content/uploads/2019/01/EXPLORANDO-SAN-SIMON-V2.pdf" style="text-decoration: underline; color: #1E237C;"> funcionó en diversas instalaciones ubicadas en el centro histórico de la ciudad, como el ex Convento de San Agustín</a>. Fue recién en 1930, con la llegada de la Autonomía Universitaria, que comenzó la consolidación y construcción del campus Las Cuadras. El 26 de septiembre de 1930, por medio de un Decreto Supremo, las autoridades iniciaron la expropiación del antiguo “Fundo de las Cuadras” en favor de la UMSS, donde se construyeron las primeras dos facultades, <a href="https://www.opinion.com.bo/articulo/tendencias/universidad-mayor-san-simon-umss-180-anos-historia-cimientos/20130615223300663423.html" style="text-decoration: underline; color: #1E237C;">la de Derecho y la de Agronomía</a>. A partir de este hito, el resto de facultades comenzaron a construirse.
  </ArticleParrafo>

  <img class="w-auto" src="/img/tarjetas-articulos/umss/campus-1930.png" />
  <p style="font-style: italic; text-align: center;">El Campus Las Cuadras en 1930. Fotografía de <a href="https://www.umss.edu.bo/wp-content/uploads/2019/01/EXPLORANDO-SAN-SIMON-V2.pdf" style="text-decoration: underline; color: #1E237C;">Carlos Lavayén Mendoza</a>.</p>

  <ArticleParrafo>
    Los registros fotográficos antiguos nos muestran que el terreno de Las Cuadras inicialmente era de uso agrícola. Sin embargo, con el pasar de los años, el avance de la urbanización, pero sobretodo con el proceso de masificación estudiantil que atravesó la Universidad desde de la década de 1980, la zona se convirtió en un nodo central para las dinámicas de la ciudad de Cochabamba. Y el espacio también se adaptó para satisfacer las diferentes demandas de la población juvenil.
  </ArticleParrafo>

  <ArticleSubtitle>
    ¿Qué negocios hay en el campus de San Simón?
  </ArticleSubtitle>

  <ArticleParrafo>
    En los manzanos que rodean el campus, encontramos 352 negocios que ofrecían una gran diversidad de productos. En la siguiente gráfica se pueden ver los negocios más comunes por categoría, y claramente los más importantes son aquellos que se dedican a vender material de estudio y comida a los universitarios. Esto en respuesta directa al material que necesitan para poder cursar sus carreras o las complicaciones que pueden tener por sus horarios y las distancias que deben recorrer desde su casa hasta la Universidad. Recordemos que muchos estudiantes van al campus desde zonas alejadas, y no pueden volver a sus casas para comer. También pueden tener horarios con "madrugues" y se ven obligados a desayunar en la universidad, o bien tienen "puentes" que los lleva a quedarse al medio día a almorzar.
  </ArticleParrafo>

  <div class="flourish-embed flourish-chart" data-src="visualisation/26700580"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/26700580/thumbnail" width="100%" alt="chart visualization" /></noscript></div>

  <ArticleParrafo>
    ¿Pero qué tipo de productos necesitan los estudiantes concretamente? ¿Qué ofrecen los dueños de estos negocios? En el siguiente gráfico interactivo podemos observar los tipos de productos por categoría. Y encontramos que, por ejemplo, en el caso del material de estudio, además de los materiales de escritorio y fotocopias, hay imprentas (importantes para los estudiantes de Diseño Gráfico), maqueterías (para los estudiantes de Arquitectura), espacios de venta de libros, cafés internet, entre otros. La comida es el rubro con la oferta más amplia y diversa que encontramos, pues hay puestos de comida rápida, cafeterías, comida asiática, comida tradicional (agachaditos), restaurantes familiares, helados y ensaladas de frutas, pastelerías, entre muchos otros.
  </ArticleParrafo>

  <div class="flourish-embed flourish-hierarchy" data-src="visualisation/26700200"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/26700200/thumbnail" width="100%" alt="hierarchy visualization" /></noscript></div>
  <p style="font-style: italic; text-align: center;">Puedes hacer click en los globos que te interesan para ver el detalle de cada categoría. El tamaño de las burbujas indica cuán frecuetes son los distintos tipos de negocio.</p>

  <ArticleParrafo>
    Esta información es útil para imaginar cómo es la vida cotidiana de los estudiantes de la UMSS. Un ejemplo que nos llama la atención es el caso del entretenimiento y el deporte y cuidado personal, pues en la zona hay diversos gimnasios, salones de belleza, puestos de venta de ropa, billares, centros de videojuegos, minicines y chicherías. Lo que nos dice que los universitarios no solamente se dedican a estudiar, sino que también usan la zona como espacios de esparcimiento y cuidado personal. Otro caso interesante son los servicios educativos, pues próximo a la UMSS se encontraron diversos institutos preuniversitarios para los bachilleres que se están preparando para ingresar, así como guarderías donde probablemente algunas estudiantes dejan a sus hijos antes de ir a clases.
  </ArticleParrafo>

  <ArticleSubtitle>
    ¿Cómo se usa el espacio comercial?
  </ArticleSubtitle>

  <ArticleParrafo>
    Ahora, ¿cómo están ubicados los negocios en la zona? ¿Es posible hablar de patrones espaciales? En el siguiente mapa de calor podemos notar que la mayoría de negocios están ubicados hacia el oeste, próximos a la avenida Oquendo, que es central para el tráfico vehicular en la ciudad y donde, además, se encuentra la puerta principal de ingreso a San Simón. Hacia el este, la frecuencia de negocios disminuye, pues es un área más residencial.
  </ArticleParrafo>

  <iframe src="https://ciudatoslab.github.io/mapa-umss/" style="height: 70vh" name="myiFrame"></iframe>

  <ArticleParrafo>
    Al mismo tiempo, notamos que hay tres zonas de concentración de negocios muy marcadas. Una primera, al noreste, colindante con el Parque La Torre. Una segunda, al norte, en la intersección entre la Av. Oquendo y la calle Sucre. Y finalmente, al suroeste, un área próxima a la Av. Oquendo, entre las calles Ladislao Cabrera y Jordán. En los tres casos, los negocios se concentran cerca de las puertas de entrada de facultades con una gran cantidad de estudiantes. Al noreste, hay negocios en la puerta de la Facultad de Tecnología, en la calle Sucre se encuentran las Facultades de Humanidades y Derecho, y hacia el suroeste, tenemos la Facultad de Economía y la de Arquitectura. De modo que los comerciantes se han concentrado cerca de las puertas de entrada para poder tener el mayor número de clientes posible.
  </ArticleParrafo>

  <ArticleParrafo>
    En el siguiente mapa interactivo puedes observar la ubicación de los negocios mapeados por categoría. Selecciona los tipos de negocio que te interesan y observa dónde se encuentran en el mapa.
  </ArticleParrafo>

  <iframe src="https://ciudatoslab.github.io/mapa-umss/index2" style="height: 70vh" name="myiFrame"></iframe>

  <ArticleSubtitle>
    La arquitectura de los negocios
  </ArticleSubtitle>

  <ArticleParrafo>
    Finalmente, una buena pregunta es cómo son las construcciones donde están ubicados estos negocios. Como se observa en la siguiente figura, la gran mayoría de ellos son locales ubicados en algún edificio, seguidamente tenemos un número considerable de casetas, y en menor medida puestos callejeros y ambulantes.
  </ArticleParrafo>

<div class="flourish-embed flourish-chart" data-src="visualisation/26700642"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/26700642/thumbnail" width="100%" alt="chart visualization" /></noscript></div>

  <ArticleParrafo>
    Si bien la mayoría de los negocios están ubicados en construcciones, un elemento que llama la atención es que los edificios son de muy baja densidad, siendo la mayoría edificaciones de uno a dos pisos. Los edificios de tres pisos o más son la excepción en esta zona, que comparada con otros lugares comerciales como La Cancha o la Ceja de El Alto, no está marcada por la presencia de edificios altos y galerías comerciales populares.
  </ArticleParrafo>

  <div class="flourish-embed flourish-chart" data-src="visualisation/26700821"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/26700821/thumbnail" width="100%" alt="chart visualization" /></noscript></div>

<ArticleSubtitle>
  Conclusiones
</ArticleSubtitle>

<ArticleParrafo>
  Hay una estrecha relación entre el espacio urbano circundante al campus y la vida estudiantil en la Universidad Mayor de San Simón, puesto que, en gran medida, el espacio ha sido moldeado para satisfacer los hábitos y necesidades estudiantiles. De modo que, podemos aproximarnos a la vida cotidiana de los alumnos explorando y analizando el espacio universitario. Los servicios y negocios presentes en el área comercial del campus son más que un caos urbano, forman parte de la vida cotidiana de los alumnos y los comerciantes, y cualquier reforma a este espacio, deberá tomar en cuenta esta relación entre la universidad y el espacio comercial.
</ArticleParrafo>

<ArticleParrafo>
  La combinación de viviendas unifamiliares con un espacio dedicado a la venta, antiguas casonas coloniales en deterioro que albergan librerías y puestos de comida, y una gran cantidad de transeúntes juveniles que satisfacen sus necesidades gracias a estos negocios, constituyen a la zona de la UMSS como un espacio difícil de describir en términos urbanísticos. En cualquier caso, esta zona debe ser más estudiada para posibles reformas y planes urbanos futuros.
</ArticleParrafo>

  <img class="w-auto" src="/img/tarjetas-articulos/umss/portadilla-umss.png" />

  <ArticleTitle>Créditos</ArticleTitle>
  <ArticleSubtitle>Autoría y coordinación del proyecto</ArticleSubtitle>
  <ArticleParrafo>
    Valeria Peredo
  </ArticleParrafo>
    <ArticleSubtitle>Recolección de datos</ArticleSubtitle>
    <ArticleParrafo>
    Adrián Delgado, Darling Hurtado, Paul Fernandez
  </ArticleParrafo>

  <a class="me-4 font-rubik text-white  bg-azul-ciudatos focus:ring-4 focus:ring-azul-ciudatos font-medium rounded-lg text-lg px-8 py-4 dark:bg-azul-ciudatos dark:hover:bg-blue-900 focus:outline-none dark:focus:ring-azul-ciudatos" style="text-align: center;" href="https://ciudatoslab.github.io/mapa-umss/">Mira el mapa de calor en pantalla completa</a>
    <a class="me-4 font-rubik text-white  bg-azul-ciudatos focus:ring-4 focus:ring-azul-ciudatos font-medium rounded-lg text-lg px-8 py-4 dark:bg-azul-ciudatos dark:hover:bg-blue-900 focus:outline-none dark:focus:ring-azul-ciudatos" style="text-align: center;" href="https://ciudatoslab.github.io/mapa-umss/index2">Mira el mapa de distribución de negocios por categoría en pantalla completa</a>