---
const { fecha, titulo, imagen,url } = Astro.props;
---

<div
  class="md:w-96 lg:h-auto lg:w-auto md:h-96 items-center rounded-lg border border-gray-100 border-b-4 shadow-md lg:hover:border-gray-300"
>
  <div class="h-52">
    <a href={url}>
      <img
        src={imagen}
        alt=""
        class="object-cover w-full h-full md:max-h-80 sm:max-h-40"
      />
    </a>
  </div>
  <div class="ml-14 mt-5 mb-8 mr-16">
    <a href="#" class="text-2xl font-semibold underline">{titulo}</a>

    <p class="text-gray-700 text-lg font-extralight mt-5">{fecha}</p>
  </div>
</div>
