---
import ArticleCard from "./ArticleCard.astro";
---

<div class="grid lg:grid-cols-2 gap-14">
  <ArticleCard
    titulo="Como Bolivia se conrtio en un pais urbano y desigual"
    fecha="3 de marzo, 2023"
    imagen="/img/tarjetas-articulos/desigualdad-thumbnail.png"
  />
  <ArticleCard
    titulo="Como el automovil se volvio el centro del diseño de las calles"
    fecha="4 de marzo, 2024"
    imagen="/img/tarjetas-articulos/calles-thumbnail2.png"
  />
</div>
