---
    interface props {
        title: string,
        url: string;
    }
    const {title, url} = Astro.props;
---


<a class="me-4 font-rubik text-white  bg-azul-ciudatos hover:bg-white focus:ring-4 focus:ring-azul-ciudatos font-medium rounded-lg text-lg px-8 py-4 dark:bg-azul-ciudatos dark:hover:bg-blue-900 focus:outline-none dark:focus:ring-azul-ciudatos" href={url}>
    {title}
    <slot/>
</a>