---
import Layout from "../../layouts/Layout.astro"

---

<Layout
title=""
img=""
description="">
    <div class="flex flex-col gap-5 sm:gap-9 px-4 sm:px-0">
        <h1 class="text-2xl sm:text-[38px] font-bold  text-azul-ciudatos">Brecha salarial de género en el área urbana de Bolivia</h1>
       
        <p class="text-[#585858] sm:text-[16px]">
            Fecha: 03/05/2023  
        </p>

        <p class=" text-[#040404] sm:text-[20px]">
            Según datos de la Encuesta de Hogares, en el área urbana de Bolivia existen brechas salariales de género en todas las actividades económicas. 
        </p>

        <p class=" text-[#040404] sm:text-[20px]">
            Explora la visualización interactiva 👇. 
        </p>

        <div class="flourish-embed flourish-chart" data-src="visualisation/13275127"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    </div>
</Layout>