---
import Layout from "../../layouts/Layout.astro";
---

<Layout
title="Precios del transporte público en países de latinoamérica"
img="https://ciudatoslab.org/img/tarjetas-articulos/costo-transporte.png"
description="Comparación de precios del transporte público en diferentes países de latinoamérica.">
    <div class="flex flex-col gap-5 sm:gap-9 px-4 sm:px-0">
        <h1 class="text-2xl sm:text-[38px] font-bold text-azul-ciudatos">
            Precios del transporte público en países de latinoamérica
        </h1>

        <p class="text-[#585858] sm:text-[16px]">Fecha: 04/07/2023</p>

        <p class="text-[#040404] sm:text-[20px]">
            Explora la visualización interactiva de los precios comparados del
            transporte público en distintos países de Latinoamérica.
        </p>

        <div
            class="flourish-embed flourish-chart"
            data-src="visualisation/14297542"
        >
            <script src="https://public.flourish.studio/resources/embed.js"
            ></script>
        </div>

        <p class="text-[#040404] sm:text-[20px]">
            Lee el artículo <a
                href="https://ciudatoslab.github.io/urbanizacion-en-bolivia/"
                class="text-azul-ciudatos underline"
            >
                Cómo Bolivia se volvió en un país urbano y desigual</a
            >.
        </p>
    </div>
</Layout>
