---
import Layout from "../../layouts/Layout.astro"

---

<Layout
title="Desigualdad espacial en Cochabamba"
img="/public/img/tarjetas-articulos/desigualdad-cocha.png"
description="Mapa interactivo que muestra varios aspectos de desigualdad socioespacial en el municipio de Cochabamba">
    <div class="flex flex-col gap-5 sm:gap-9 px-4 sm:px-0">
        <h1 class="text-2xl sm:text-[38px] font-bold  text-azul-ciudatos">Desigualdad espacial en Cochabamba</h1>
       
        <p class="text-[#585858] sm:text-[16px]">
            Fecha: 06/11/2023  
        </p>

        <p class=" text-[#040404] sm:text-[20px]">
            Explora el mapa interactivo para conocer las desigualdades socioespaciales de Cochabamba.
        </p>
        
        <div class="flourish-embed" data-src="story/2367369"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    </div>
</Layout>