---
import Layout from "../../layouts/Layout.astro"

---

<Layout
title="Cantidad de d칤as de lluvia en ciudades capitales de Bolivia el 2021"
img="/public/img/tarjetas-articulos/lluvia.jpeg"
description="쮺u치ntos d칤as del a침o llovi칩 en las ciudades capitales de bolivia el 2021?">
    <div class="flex flex-col gap-5 sm:gap-9 px-4 sm:px-0">
        <h1 class="text-2xl sm:text-[38px] font-bold  text-azul-ciudatos">Cantidad de d칤as de lluvia en ciudades capitales de Bolivia el 2021</h1>
       
        <p class="text-[#585858] sm:text-[16px]">
            Fecha: 19/04/2023  
        </p>

        <p class=" text-[#040404] sm:text-[20px]">
            쮺u치ntos d칤as del a침o llovi칩 en las ciudades capitales de Bolivia el 2021? 游꺊游끷    
        </p>
        <img
        class="w-auto"
        src="/img/tarjetas-articulos/lluvia.jpeg"
      />
    </div>
</Layout>