---
import Layout from "../../layouts/Layout.astro";
import Mapa from "./Mapa.astro";
---

<Layout
  title="mapas"
  img="https://ciudatoslab.org/img/tarjetas-articulos/meta-ciudatos.png"
  description="Sumérgete en historias sobre Bolivia, basadas en una variedad de datos recopilados. 📚"
>
  <h1>Esto es un mapa</h1>

  <Mapa />
</Layout>
