---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ciudatos">
  <h1>Astro</h1>
  <h1 class="text-3xl font-bold underline font-rubik">Hello world!</h1>

  <p class="font-rubik text-verde-suave-ciudatos">
    Hola, mi nombre es <a href="https://valeipr.github.io/mi-portafolio/"
      >Valeria</a
    > y esta es la web de Ciudatos Bolivia
  </p>
  

</Layout>

