---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ArticleRow from "../components/cards/home/ArticleRow.astro";
---
<head>
  <meta charset="UTF-8">
    <meta name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:image" content="https://ciudatoslab.org/img/tarjetas-articulos/meta-ciudatos.png">
    <meta name="description" content="Somos un laboratorio urbano de datos en Bolivia. Promovemos los datos abiertos , las visualizaciones, la explicación de problemas urbanos mediante historias y la modelación urbana 🏙.">
    <title>Ciudatos Lab</title>
</head>

<Layout title="Ciudatos | Inicio">
  <Hero />
  <section
    class="flex flex-col gap-7 sm:gap-[70px] items-center -mt-20 sm:mt-11"
  >
    <h2 class="text-2xl sm:text-3xl text-azul-ciudatos text-center font-bold">
      Conoce nuestro trabajo
    </h2>
    <ArticleRow categoria="Todo" destacado={true} />
    <a
      href="/todo"
      class="text-lg sm:text-2xl hover:text-azul-ciudatos/50 transition-colors duration-1000"
      >Ver más</a
    >
  </section>
</Layout>
