---
import Layout from "../../layouts/Layout.astro";
import Buscador from "../datos/Buscador.jsx";

---

<Layout title="Ciudatos | datos">
  <h1 class="mb-8">Datos</h1>
  <ul class="space-y-4">
    <Buscador client:only/>

  </ul>
</Layout>
