---
import Layout from "../../layouts/Layout.astro";
import Buscador from "../datos/Buscador.jsx";

---

<Layout title="Datos">
  <h1 class="mb-8"></h1>
    <h2 class="text-2xl sm:text-4xl text-azul-ciudatos text-center font-bold pb-9 lg:pb-0">Datos</h2>
    <Buscador client:only/>


</Layout>
