<style>
  .fade-in {
    opacity: 0;
    animation-name: fade-in-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

</style>

<footer class="flex flex-col items-center justify-center mb-6 sm:mb-16 fade-in">
  <div class="flex space-x-6 sm:space-x-16 mb-10">
    <!-- Círculos pequeños -->
    <div class="w-4 h-4 sm:w-6 sm:h-6 rounded-full bg-verde-suave-ciudatos">
    </div>
    <div class="w-4 h-4 sm:w-6 sm:h-6 rounded-full bg-verde-suave-ciudatos">
    </div>
    <div class="w-4 h-4 sm:w-6 sm:h-6 rounded-full bg-verde-suave-ciudatos">
    </div>
    <div class="w-4 h-4 sm:w-6 sm:h-6 rounded-full bg-verde-suave-ciudatos">
    </div>
    <div class="w-4 h-4 sm:w-6 sm:h-6 rounded-full bg-verde-suave-ciudatos">
    </div>
    <div class="w-4 h-4 sm:w-6 sm:h-6 rounded-full bg-verde-suave-ciudatos">
    </div>
    <div class="w-4 h-4 sm:w-6 sm:h-6 rounded-full bg-verde-suave-ciudatos">
    </div>
  </div>

  <div class="flex flex-wrap justify-center space-x-2 sm:space-x-4 mb-3 sm:mb-6 fade-in">
    <!-- Logotipos con enlaces -->
    <a href="https://www.facebook.com/profile.php?id=100086933394327" target="_blank">
      <img src="/img/social-media/facebook.png" alt="Facebook" class="h-7 sm:h-12" />
    </a>
    <a href="https://twitter.com/ciudatos_bol" target="_blank">
      <img src="/img/social-media/x.png" alt="X" class="h-7 sm:h-12" />
    </a>
    <a href="https://www.instagram.com/ciudatos_bol" target="_blank">
      <img src="/img/social-media/instagram.png" alt="Instagram" class="h-7 sm:h-12" />
    </a>
    <a href="https://github.com/ciudatos-bolivia" target="_blank">
      <img src="/img/social-media/signo-de-github.png" alt="Github" class="h-7 sm:h-12"/>
    </a>
    <a href="mailto:ciudatos.bolivia@gmail.com" target="_blank">
      <img src="/img/social-media/correo-electronico.png" alt="Email" class="h-7 sm:h-12"/>
    </a>
  </div>

  <div class="mt-4 text-m">
    <span class="text-black">Desarrollado por</span>
    <a
      href="https://labtecnosocial.org/"
      class="text-verde-ciudatos hover:underline"><strong>Lab TecnoSocial</strong></a
    >
  </div>
</footer>
