<header class="mi-header bg-white flex justify-between items-center px-4 md:px-16 py-3 shadow-md">
    <div class="logo-izquierdo">
        <img src="/img/logos-ciudatos/logo_ciudatos.png" alt="Ciudatos" class="h-10 md:h-12">
    </div>
    <nav class="pestanas flex ml-auto">
        <a href="#" class="text-black font-normal mr-4 md:mr-8">Datos</a>
        <a href="#" class="text-black font-normal mr-4 md:mr-8">Blog</a>
    </nav>
    <div class="logo-derecho flex items-center">
        <a href="https://github.com/ciudatos-bolivia/" target="_blank">
            <img src="/img/social-media/github.png" alt="GitHub" class="h-8 md:h-10">
        </a>
    </div>
</header>
