<!-- TODO este es el componente Header -->
<header class="header">
    <div class="logo-ciudatos">
        <img src="logo_ciudatos.png" alt="Ciudatos">
    </div>
    <nav class="pestanas">
        <a href="#">Datos</a>
        <a href="#">Blog</a>
    </nav>
    <div class="logo-github">
        <a href="https://github.com/ciudatos-bolivia/" target="_blank">
            <img src="github.png" alt=" GitHub">
        </a>
    </div>
</header>
