<header
  class="w-full bg-white flex justify-between items-center px-4 md:px-16 py-3 shadow-md"
>
  <!--Logo ciudatos -->
  <a href="/" class="logo-izquierdo">
    <img
      src="/img/logos-ciudatos/logo-ciudatos-nuevo.png"
      alt="Ciudatos"
      class="h-10 md:h-12"
    />
  </a>

  <!--Modal -->
  <div
    id="modal"
    class="fixed inset-x-0 top-20 z-auto hidden md:hidden overflow-y-auto bg-white transform translate-y-full animate-fade-down animate-duration-500"
  >
    <div class="bg-white rounded-lg">
      <nav class="ml-5">
        <ul class="flex flex-col text-xl items-center">
          <li>
            <a href="/datos" class="mb-4 text-black font-normal mr-4 md:mr-8"
              >Datos</a
            >
          </li>
          <li>
            <a href="/blogs" class="mb-4 text-black font-normal mr-4 md:mr-8"
              >Blog</a
            >
          </li>
          <li>
            <div class="flex flex-row items-center mt-2 mb-5">
              <a
                href="https://github.com/ciudatos-bolivia/"
                target="_blank"
                class="items-center"
              >
                <img
                  src="/img/social-media/github.png"
                  alt="GitHub"
                  class="h-9 mr-2"
                />
              </a>
              <p>Github</p>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!--Boton hamburguesa -->
  <div class="md:hidden sm:block">
    <button
      id="openModal"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-default"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
  </div>

  <!--Navbar normal -->
  <div class="hidden md:block">
    <nav class="flex">
      <a href="/datos" class="text-black font-normal mr-4 mt-2 md:mr-8 hover:font-bold">Datos</a>
      <a href="/blogs" class="text-black font-normal mr-4 mt-2 md:mr-8 hover:font-bold">Blog</a>
      <a
        href="https://github.com/ciudatos-bolivia/"
        target="_blank"
        class="items-center"
      >
        <img src="/img/social-media/github.png" alt="GitHub" class="h-9" />
      </a>
    </nav>
  </div>

  <!--Script para mostrar/quitar el modal -->
  <script>

    const openModalButton = document.getElementById("openModal");
    const modal = document.getElementById("modal");
    const header = document.getElementById("header");

    openModalButton.addEventListener("click", () => {
      modal.classList.toggle("hidden");
    });

    //Si el usuario hace scroll el menu de hamburguesa se cierra
    window.addEventListener("scroll", () => {
      if (!modal.classList.contains("hidden")) {
        modal.classList.add("hidden");
      }
    });
    
  </script>
</header>
