---
import Button from "./buttons/Button.astro";
---

<div class="flex flex-col items-center sm:spx-1 mx-auto lg:px-6">
  <div class="flex flex-col gap-8 items-center text-center">
    <h2
      class="text-2xl sm:text-4xl font-bold text-azul-ciudatos decoration-transparent"
    >
      ¿Qué datos estas buscando?
    </h2>
    <div
      class="flex flex-col items-center max-w-64 sm:max-w-[540px] text-texto text-xs sm:text-2xl text-pretty"
    >
      <p>
        <strong> Ciudatos Bolivia</strong> es un repositorio colaborativo de <strong
        >
          datos abiertos sobre ciudades</strong
        > en <strong> Bolivia</strong>. <span
          >Tratamos de explicar problemas urbanos mediante datos e historias.</span
        >
        <p class="hidden sm:block text-center max-w-[500px]">
          Tratamos de explicar problemas urbanos mediante datos e historias.
        </p>
      </p>
    </div>
    <div class="flex flex-col gap-8 sm:flex-row sm:gap-12">
      <Button
        src="https://www.youtube.com/watch?v=FoFqtnhW9oU"
        title="Busca Datos"
      />
      <Button
        outline
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGrik7hMZOSkJG80PuVwOX6B17GdrRSMclXJ1aFmSD3A&s"
        title="Colabora con nosotros"
      />
    </div>
  </div>
  <img
    class="h-[580px] w-auto object-cover -translate-y-28 sm:-translate-y-11 -z-10 opacity-60"
    src="/img/portada/verde-cb.png"
    alt="Hero de Ciudatos"
  />
</div>

<!-- <div
  class="px-1 mx-auto max-w-base lg:py-16 lg:px-6 item flex flex-col items-center"
>
  <CardDataset
    title="Recorrido del Teleférico en la ciudad de La Paz (2020)"
    source="GAM La Paz"
    description="Información espacial de las rutas de recorrido de las líneas del teleferico (Rojo, Verde y Amarillo, Celeste) en La Paz y El Alto."
    img="/img/tarjetas-datos/1.png"
    url="https://img1.picmix.com/output/pic/normal/8/9/2/2/4642298_46613.gif"
  />
  <CardDataset
    title="Contenedores de basura en Cochabamba (2020)"
    source="Lab TecnoSocial"
    description="Información espacial de contenedores de basura en el centro de Cochabamba"
    img="/img/tarjetas-datos/2.png"
    url="https://img1.picmix.com/output/pic/normal/8/9/2/2/4642298_46613.gif"
  />
  <CardDataset
    title="Mapa de Zonas de la Ciudad de La Paz (2020)"
    source="GAM La Paz"
    description="El mapa muestra las zonas que conforman la ciudad de Nuestra Señora de La Paz, aproximadamente 188 zonas delimitas de forma referencial."
    img="/img/tarjetas-datos/3.png"
    url="https://img1.picmix.com/output/pic/normal/8/9/2/2/4642298_46613.gif"
  />
</div> -->
