---
import Button from "./buttons/Button.astro";
import { Image } from "astro:assets";
import verdeCb from "../assets/img/portada/verde-cb.png";
---

<style>
  .fade-in {
    opacity: 0;
    animation-name: fade-in-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  @keyframes fade-in-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<div class="flex flex-col items-center sm:spx-1 mx-auto lg:px-6">
  <div class="flex flex-col gap-8 items-center text-center">
    <h1 class="text-2xl sm:text-3xl font-bold text-azul-ciudatos">
      Te damos la bienvenida a Ciudatos Lab
    </h1>
    <div
      class="flex flex-col items-center max-w-64 sm:max-w-[540px] text-texto sm:text-xl text-pretty fade-in">
      <p class="fade-in">
        Somos un laboratorio urbano de datos en Bolivia. Promovemos los datos abiertos, la explicación de problemas urbanos mediante datos e historias y soluciones urbanísticas innovadoras con tecnología y participación 🏙.
      </p>
    </div>
    <div class="flex flex-col gap-8 sm:flex-row sm:gap-12 fade-in">
      <Button
        src="window.location.href='/datos';"
        title="Busca Datos"
        className="fade-in"
      />
      <Button
        outline
        src="window.location.href='mailto:ciudatos.bolivia@gmail.com?subject=Intenci%C3%B3n%20de%20colaboraci%C3%B3n%20con%20datasets%20con%20Ciudatos%20Bolivia';"
        title="Colabora con nosotros"
        className="fade-in"
      />
    </div>
  </div>
  <!-- <img
    class="h-[580px] w-auto object-cover -translate-y-28 sm:-translate-y-11 -z-10 opacity-60 mix-blend-lighten"
    src="/img/portada/verde-cb.png"
    alt="Hero de Ciudatos"
  /> -->
  <Image
    class="h-[580px] object-cover -translate-y-28 sm:-translate-y-11 -z-10 opacity-60 fade-in"
    src={verdeCb}
    alt="Imagen portada"
    quality="mid"
    style="height: 50vh; z-index: -1;"
  />
</div>

<script>
  export function useEffect(fn) {
    setTimeout(fn, 0);
  }

  export function afterUpdate() {
    const elements = document.querySelectorAll(".fade-in");
    elements.forEach((element: HTMLElement) => {
      element.style.animationDelay = "0.2s";
    });
  }
</script>
