---
import Layout from "../../layouts/Layout.astro"

---

<Layout title="Crecimiento Urbano en Bolivia">
    <div class="flex flex-col gap-5 sm:gap-9 px-4 sm:px-0">
        <h1 class="text-2xl sm:text-[38px] font-bold  text-azul-ciudatos">Crecimiento de la población urbana en Bolivia</h1>
       
        <p class="text-[#585858] sm:text-[16px]">
            Fecha: 06/11/2023  
        </p>

        <p class=" text-[#040404] sm:text-[20px]">
            Estas son las proyecciones de la población urbana y rural en Bolivia, de 1950 al 2050. Desde aproximadamente 40 años, Bolivia se convirtió en un país mayoritariamente urbano. Se estima que para el 2050, el 80% de la población vivirá en ciudades.
        </p>

        <div class="flourish-embed flourish-chart" data-src="visualisation/13768011"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

        <p class=" text-[#040404] sm:text-[20px]">
            Esta urbanización acelerada conformó tres grandes áreas urbanas, compuestas por varios municipios cuyos límites territoriales comenzaron a borrarse. Hablamos de las áreas metropolitanas de La Paz, Cochabamba y Santa Cruz, donde se concentra alrededor del 45% de la población boliviana. Junto con las áreas metropolitanas, emergieron decenas de ciudades intermedias, con gran importancia para la economía nacional.
        </p>

        <div class="flourish-embed" data-src="story/2331235"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    </div>
</Layout>

<style>

</style>