---
import Layout from "../../layouts/Layout.astro"

---

<Layout title="Diseño Víal en Bolivia">
    <div class="flex flex-col gap-5 sm:gap-9 px-4 sm:px-0">
        <h1 class="text-2xl sm:text-[38px] font-bold  text-azul-ciudatos">¿A quiénes privilegia el diseño vial?</h1>
       
        <p class="text-[#585858] sm:text-[16px]">
            Fecha: 04/07/2023  
        </p>

        <p class=" text-[#040404] sm:text-[20px]">
           Como equipo de Ciudatos Lab, nos pusimos a fotografiar calles importantes para el transporte urbano y para la vida en las ciudades en las que vivimos. Fotografiamos mercados, centros de entretenimiento, avenidas troncales, rotondas y, en general, lugares de gran concentración humana, en las ciudades de La Paz, El Alto, Cochabamba y Tarija.
        </p>

        <p class=" text-[#040404] sm:text-[20px]">
             Procesamos las fotografías con la Herramienta <a href="https://cyklokoalicia.sk/arrogance/" class="text-azul-ciudatos underline">Arrogance of Space Mapping Tool</a>, que nos permitió determinar los porcentajes del espacio transitable ocupado por los automóviles. Puedes aprender más sobre la herramienta <a href="https://www.youtube.com/watch?v=CfXP6KOVBOY" class="text-azul-ciudatos underline">aquí</a>.
         </p>

         <div class="flourish-embed flourish-cards" data-src="visualisation/14297871"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

         <p class=" text-[#040404] sm:text-[20px]">
            Lee el artículo <a href="https://ciudatos-bolivia.github.io/urbanizacion-en-bolivia/" class="text-azul-ciudatos underline"> Cómo Bolivia se volvió en un país urbano y desigual</a>.
        </p>
    </div>
</Layout>