---
import Layout from "../../layouts/Layout.astro";
import ArticleRow from "../../components/cards/home/ArticleRow.astro";

---
<Layout title="blog">
    <section class="flex flex-col gap-8 sm:gap-[70px] items-center">
        <h2 class="text-3xl sm:text-4xl text-azul-ciudatos text-center font-bold top-0 bg-white z-10">Blog</h2>
        <ArticleRow />
      </section>
</Layout>