---
import Layout from "../../layouts/Layout.astro";
import ArticleRow from "../../components/cards/home/ArticleRow.astro";

---
<Layout title="blog">
    <section class="flex flex-col gap-7 sm:gap-[70px] items-center -mt-20 sm:mt-11">
        <h2 class="text-2xl sm:text-4xl text-azul-ciudatos text-center font-bold">Blog</h2>
        <ArticleRow />
      </section>
</Layout>