---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Mapa de Museos en Bolivia">
    <div class="flex flex-col gap-5 sm:gap-9 px-4 sm:px-0">
        <h1 class="text-2xl sm:text-[38px] font-bold  text-azul-ciudatos">Mapa de museos en Bolivia</h1>
       
        <p class="text-[#585858] sm:text-[16px]">
            Fecha: 18/09/2023  
        </p>

        <p class=" text-[#040404] sm:text-[20px]">
            Bolivia es un pa칤s muy rico y diverso en culturas. Adem치s de haber sido el territorio de culturas prehisp치nicas que dejaron importantes vestigios arqueol칩gicos, es el lugar donde viven varios pueblos ind칤genas y tambi칠n tiene una importante historia nacional, y regional que debe recordarse. Uno de los espacios destinados para contar y preservar la memoria y cultura nacional son los museos, <b>쯣ero qu칠 museos hay en Bolivia? 쮺u치ntos son y d칩nde est치n?</b>
        </p>

        <img 
        class="w-auto"
        src="/img/tarjetas-articulos/cabecera-museos.png"
        />

        <p class=" text-[#040404] sm:text-[20px]">
            Las instituciones p칰blicas no proveen datos suficientes sobre los museos en el pa칤s. <a href="https://web.archive.org/web/20181222180815/http://minculturas.gob.bo/cms/files/peimincult.pdf" class="text-azul-ciudatos underline">En un documento del 2015</a>, que es el 칰nico documento de planificaci칩n a nivel nacional que pudimos encontrar, el Viceministerio de Culturas y Turismo se침ala que Bolivia tiene 97 museos, pero no detalla cu치les son ni en qu칠 lugares est치n. A nivel municipal, pudimos ver que muy pocas alcald칤as comparten mapas o informaci칩n geogr치fica sobre sus museos. Aqu칤 hay que destacar, por ejemplo, el trabajo que realiz칩 la alcald칤a de La Paz, y la <a href="http://sitservicios.lapaz.bo/geoestadistico/" class="text-azul-ciudatos underline">informaci칩n que nos brinda su portal geoestad칤stico.</a>
        </p>

        <p class=" text-[#040404] sm:text-[20px]">
            Ante la falta de bases de datos sobre museos bolivianos, decidimos armar una. Combinamos el scraping a los pocos sitios de gobiernos municipales que proveen informaci칩n, con una b칰squeda manual de museos en la prensa y utilizando Google Maps. En total, logramos recolectar datos sobre 233 museos en Bolivia los cuales puedes explorar dando click a esta imagen del mapa 游녢.
        </p>

        <a href="https://labtecnosocial.org/museos-bol/">
            <img 
            class="w-auto"
            src="/img/tarjetas-articulos/museos.png"
            />
        </a>

        <h2 class="text-xl sm:text-[34px] font-bold  text-azul-ciudatos">Algunas estad칤sticas de museos</h2>

        <p class=" text-[#040404] sm:text-[20px]">
            El departamento con m치s museos es La Paz que tiene 60 museos, la mayor칤a ubicados en el 치rea metropolitana pace침a y en la zona de Copacabana; mientras que Pando es el departamento donde hay menos museos.
        </p>

        <div class="flourish-embed flourish-chart" data-src="visualisation/15050561"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

        <p class=" text-[#040404] sm:text-[20px]">
            En cuanto a las localidades, es evidente que los municipios que forman parte de 치reas metropolitanas o ciudades tienen m치s museos (principalmente el municipio de La Paz y el de Sucre), pero no son los 칰nicos. Encontramos muchos museos comunitarios en zonas rurales del pa칤s, varios de ellos administrados por asociaciones comunales o vecinales que preservan informaci칩n sobre su localidad.
        </p>

        <div class="flourish-embed flourish-chart" data-src="visualisation/15050608"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

        <h2 class="text-xl sm:text-[34px] font-bold  text-azul-ciudatos">Datos</h2>
        <p class=" text-[#040404] sm:text-[20px]">
            Descarga la base de datos <a href="datos/museos-en-bolivia" class="text-azul-ciudatos underline">aqu칤</a>
        </p>

    </div>
</Layout>