---
import Layout from "../../layouts/Layout.astro"

---

<Layout>
    <div class="flex flex-col gap-5 sm:gap-9 px-4 sm:px-0">
        <h1 class="text-2xl sm:text-[38px] font-bold  text-azul-ciudatos">Precios del transporte público en países de latinoamérica</h1>
       
        <p class="text-[#585858] sm:text-[16px]">
            Fecha: 04/07/2023  
        </p>

        <p class=" text-[#040404] sm:text-[20px]">
            En este mapa de las antenas de telefonía móvil colocadas en Bolivia entre 2008 y 2022, podemos ver cómo éstas se concentran y conectan los principales centros urbanos del país.
        </p>

        <div class="flourish-embed" data-src="story/2367399"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

        <img 
        class="w-auto"
        src="/img/tarjetas-articulos/camas-hosp.jpeg"
        />
    </div>
</Layout>