---
interface Props {
  url: string;
  fileType: string;
}

const { url, fileType } = Astro.props;
---

<li class="flex items-center justify-center gap-4 w-full group">
  <a
    href={url}
    target="_blank"
    class="flex gap-4 items-center justify-start w-full"
  >
    <div
      class="flex items-center justify-center w-12 h-16 sm:w-[95px] sm:h-[111px] bg-gris"
    >
      <span
        class="text-sm sm:text-base group-hover:scale-110 transition-transform"
      >
        {fileType}
      </span>
    </div>
    <p class="text-lg sm:text-[25px] text-[#040404] group">
      Descarga el archivo
      <span class="group-hover:text-azul-ciudatos transition-colors">
        "{fileType}"
      </span>
    </p>
  </a>
</li>
