---
import "@fontsource/rubik";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import type { string } from "astro/zod";

interface Props {
  title: string;
  img: string;
  description: string;
}
const { title, img, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="font-rubik">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/img/logos-ciudatos/ciudatos-favicon.png"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />

    <script
      is:inline
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""></script>

    <script
      is:inline
      src="https://cdn.jsdelivr.net/gh/Igor-Vladyka/leaflet.motion/dist/leaflet.motion.min.js"
    ></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ciudatos Lab | {title}</title>
    <meta property="og:image" content={img} />
    <meta name="description" content={description} />
  </head>
  <body>
    <Header />
    <main class="my-16 md:max-w-[1512px] sm:px-[92px] sm:mx-auto sm:my-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
