---
import "@fontsource/rubik";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="font-rubik">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/img/logos-ciudatos/ciudatos-favicon.png"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ciudatos | {title}</title>
  </head>
  <body>
    <Header />
    <main class="my-16 md:max-w-[1512px] sm:px-[92px] sm:mx-auto sm:my-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
