---
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/ui/Button.astro";
---

<Layout title="Dataset - Template">
  <div class="flex flex-col gap-9">
    <h1 class="text-[40px] text-azul-ciudatos font-bold">
      Recorrido del Teleférico en la ciudad de La Paz (2020)
    </h1>
    <span class="text-[32px] text-[#4C4C4C]">GAM La Paz</span>
    <img class="h-[653px] w-auto object-cover" src="/img/tarjetas-datos/1.png" alt="Article image" />
    <p class="text-[28px] text-[#585858]">
      Información espacial de las rutas de recorrido de las líneas del
      teleferico (Rojo, Verde y Amarillo, Celeste) en La Paz y El Alto.
    </p>

    <section class="flex flex-col gap-4">
      <h2 class="text-[32px] text-[#040404] font-bold">Recursos del dataset</h2>
      <hr />
      <ul class="flex flex-col gap-4 items-center">
        <li class="flex items-center gap-4">
          <div class="w-[95px] h-[111px] bg-gris"></div>
          <p class="text-[25px] text-[#040404]">
            Descripción del dataset Descripción del recurso
          </p>
        </li>
        <li class="flex items-center gap-4">
          <div class="w-[95px] h-[111px] bg-gris"></div>
          <p class="text-[25px] text-[#040404]">
            Descripción del dataset Descripción del recurso
          </p>
        </li>
      </ul>
      <div class="flex flex-col items-center gap-4">
        <h3 class="text-2xl text-[#040404] font-bold">Descargas</h3>
        <div class="flex gap-4">
          <Button title="GitHub" />
          <Button title="Google Drive" />
        </div>
      </div>
    </section>
  </div>
</Layout>
